.app-component {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 40px;
    margin-top: 15px;
}

md-toolbar {
    height: 80px;
    background-color: #229fff;
}

