<div class="pay">
  <h1>
    Поповнюйте онлайн без комісії
  </h1>

  <form [formGroup]="payForm" class="payForm">
    <div>
      <label for="phone">Мобільний телефон:</label>
      <md-input-container class="example-full-width">
        <span mdPrefix>+380 &nbsp;</span>
        <input type="tel" mdInput formControlName="phone" autocomplete='off' maxlength="17" placeholder="XXXXXXXXX" required>
        <md-error *ngIf="formErrors.phone">
          {{formErrors.phone}}
        </md-error>
      </md-input-container>
    </div>
    <div>
      <label for="amount">Сумма:</label>
      <md-input-container class="example-full-width">
        <input type="text" mdInput formControlName="amount" autocomplete='off' required>
        <md-error *ngIf="formErrors.amount">
          {{formErrors.amount}}
        </md-error>
      </md-input-container>
    </div>
    <div>

      <td class="td_card">
        <div class="card">
          <p class="card_details_text">Введіть реквізити платіжної картки</p>
          <div id="pc">
            <md-input-container class="example-full-width">
              <input type="text" placeholder="Номер карти" mdInput formControlName="card" autocomplete='off' id="cardNumber" class="cardNumber"
                maxlength="16" required>
              <md-error *ngIf="formErrors.card">
                {{formErrors.card}}
              </md-error>
            </md-input-container>
            <div class="select_card_requisites">
              <md-select class="iframe spec_ks cardMonth" id="cardMonth" name="months" class="iframe spec_ks cardYear" id="cardYear">
                <md-option *ngFor="let month of months" [value]="month.value">
                  {{month.value}}
                </md-option>
              </md-select>
              <md-select name="years" class="iframe spec_ks cardYear" id="cardYear">
                <md-option *ngFor="let year of years" [value]="year.value">
                  {{year.value}}
                </md-option>
              </md-select>
            </div>
          </div>
        </div>
        <div class="card2 iframe">
          <div class="card2_line"></div>
          <md-input-container class="example-full-width">
            <input placeholder="CVV2/CVC2" type="password" id="cardCvv" autocomplete="off" mdInput formControlName="cvv" maxlength="3" required>
            <md-error *ngIf="formErrors.cvv">
              {{formErrors.cvv}}
            </md-error>
          </md-input-container>
          <div class="button_wrapper">
            <button md-raised-button type="button" class="button_submit button_payment" [disabled]="!payForm.valid">Оплатити</button>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
    </div>
  </form>
</div>