.card {
    padding: 25px;
    width: 50vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

}
.account_circle {
    color: #5593d5;
    font-size: 100px;
}


.example-form {
    margin-top: 20px;
  width: 500px;
}

.example-full-width {
  width: 100%;
}