 <md-card class="card">
  <md-icon>account_circle</md-icon>
  <h2>Вхiд</h2>
  <form class="example-form" [formGroup]="loginForm">
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Email" formControlName="email">
      <md-error *ngIf="formErrors.email">
        {{formErrors.email}}
      </md-error>
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Пароль" formControlName="password" type="password">
      <md-error [hidden]="formErrors.password" class="error-message">
        {{formErrors.password}}
      </md-error>
    </md-input-container>
    <a md-raised-button [disabled]="!loginForm.valid" routerLink="/pay">Вход</a>
  </form>
</md-card>
